/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.vehicles-car1, tr.vehicles-car1-tele {
  background: #FF8C8C;
}

tr.vehicles-car2, tr.vehicles-car2-tele {
  background: #1EAE98;
}

tr.vehicles-car3, tr.vehicles-car3-tele {
  background: #6FD6FF;
}

tr.message-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.message-row:not(.expanded-row):active {
  background: #efefef;
}

.message-row td {
  border-bottom-width: 0;
}

.message-detail {
  overflow: hidden;
  display: flex;
}

.message-payload {
  padding: 16px;
}
