/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.message-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.message-row:not(.expanded-row):active {
  background: #efefef;
}

.message-row td {
  border-bottom-width: 0;
}

.message-detail {
  overflow: hidden;
  display: flex;
}

.message-payload {
  padding: 16px;
}
